html,body{
  background-image: url(./assets/bank.jpg), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2));
  background-size: ;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 80%;
  font-family: 'Numans', sans-serif;
  }
  